<p>user works!</p>

<div *ngIf="isShow">
    <img src="https://tse1.mm.bing.net/th?id=OIP.w2eW914BB3j0PufNBq89KwHaE7&pid=Api&P=0&w=250&h=167"/>
</div>
{{isShow}}
<button type="button" (click)="isShow = !isShow">Show Image</button>

<select [(ngModel)] = "selectedState">
    <option *ngFor="let state of states" [value]="state">
        {{state}} - {{getStateName(state)}}
    </option>
</select>

{{selectedState}}
 
<input type="number" [(ngModel)]="checkAge"/>
<div *ngIf="checkAge > 18">
    You're Major
</div>